body {
    background-color: rgba(231, 229, 252, 0.534);
}
h1 {
    font-weight: bold;
    font-size: 40px;
    color: rgb(45, 112, 29);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    text-align: center;
}
main {
    margin: 5%;
    padding: 2%;
    background-color: rgba(196, 181, 226, 0.534);
    border-radius: 2%;
    color: rgb(82, 8, 8);
}

h3{
    color: rgb(118, 16, 79);
}